<!-- home.component.html -->
<div>
  <div class="chat-container">
    <div *ngFor="let question of questions(); let i = index">
      <div class="question">
        {{ question }}
      </div>
      <div>
        <div class="answer" *ngIf="loading() === 'loading' && i === answers().length">
          Thinking...</div
          >
          <div class="answer" *ngIf="answers()[i]" [innerHTML]="answers()[i]"></div>
        </div>
      </div>
      <div class="input-container">
        <input type="text" [value]="inputValue()" (change)="handleChange($event)" />
        <button (click)="submitQuestion()">Submit</button>
      </div>
    </div>
</div>
